﻿@model Nutriologo.Models.Factura

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Factura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdConsulta" class="control-label"></label>
                <input asp-for="IdConsulta" class="form-control" />
                <span asp-validation-for="IdConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RFCCliente" class="control-label"></label>
                <input asp-for="RFCCliente" class="form-control" />
                <span asp-validation-for="RFCCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear Factura" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

