﻿@model Nutriologo.Models.Factura

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Factura</h4>
    <hr />
    
    <h3 class="text-center">Su factura ha sido enviada a: @Html.DisplayFor(model => model.correo) por favor verifique su correo</h3>
            
</div>
