﻿@model Nutriologo.DatosPrivados

@{
    ViewData["Title"] = "View";
}
<h1>Registro de DatosPrivados</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Calle" class="control-label"></label>
                <input asp-for="Calle" class="form-control" />
                <span asp-validation-for="Calle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colonia" class="control-label"></label>
                <input asp-for="Colonia" class="form-control" />
                <span asp-validation-for="Colonia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Municipio" class="control-label"></label>
                <input asp-for="Municipio" class="form-control" />
                <span asp-validation-for="Municipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumExt" class="control-label"></label>
                <input asp-for="NumExt" class="form-control" />
                <span asp-validation-for="NumExt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumInt" class="control-label"></label>
                <input asp-for="NumInt" class="form-control" />
                <span asp-validation-for="NumInt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoCelular" class="control-label"></label>
                <input asp-for="TelefonoCelular" class="form-control" />
                <span asp-validation-for="TelefonoCelular" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TelefonoCelularEsWhats" /> @Html.DisplayNameFor(model => model.TelefonoCelularEsWhats)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar Datos" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
