﻿@model LoginViewModel

@*@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>*@
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Iniciar Sesión.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" type="password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <!--<div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                        </label>
                    </div>
                </div>-->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        @*<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>*@
                    </p>
                    <p>
                        <a asp-action="Register" asp-controller="Account">Registrar nuevo usuario</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
