﻿@model ApplicationUser
@{
    ViewData["Title"] = "VerPaciente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 text-center"><h1>Paciente  @Model.Nombre @Model.ApellidoPaterno @Model.ApellidoMaterno </h1></div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h4>Registro de citas</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Peso</th>
                        <th>Talla</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.consultas)
                    {
                        <tr>
                            <td>@item.Fecha.ToShortDateString()</td>
                            <td>@item.Peso</td>
                            <td>@item.Talla</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

