﻿@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Header 1.0</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!--Icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <!--My Styles-->
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <header id="header" class="container-fluid">
        <div class="row">
            <div class="col-md-3" id="logo">
                <img src="~/img/logo.png" id="logopng" class="img-fluid" alt="logo"/>
            </div>
            <div class="col-md-9" id="menu">
                <div class="row">
                    <div class="col-md-2">
                        <a class="nav-link" href="#" id="menul">Home</a>
                    </div>
                    <div class="col-md-2">
                        <a class="nav-link" href="#" id="menul">Nosotros</a>
                    </div>
                    <div class="col-md-2">
                        <a class="nav-link" href="#" id="menul">Servicios</a>
                    </div>
                    <div class="col-md-2">
                        <a class="nav-link" href="#" id="menul">Noticias</a>
                    </div>
                    <div class="col-md-2">
                        <a class="nav-link" href="#" id="menul">Contacto</a>
                    </div>
                    <div class="col-md-1">
                        <a asp-controller="Account" asp-action="Register" id="btnm">Registrarse</a>
                        @*<button  asp-controller="Account" asp-action="Register" type="submit" id="btnm">Registrate</button>*@
                    </div>
                    <div class="col-md-1">
                        <a asp-controller="Account" asp-action="Login" id="btnm">Login</a>
                        @*<button asp-controller="Account" asp-action="Login" type="submit" id="btnm">Ingresar</button>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h6 id="title">
                        <strong id="title2">"Nunca es tarde para cambiar tu estilo de vida"</strong><br>
                        Para nosotros tu salud es lo más importante es por eso que nosotros te ofrecemos los mejores servicios profesionales y al mejor precio para comiences a cambiar tu vida ahora.
                    </h6>
                    <button type="" id="btnm">Obten tu plan</button>
                </div>
                <div class="col-md-6">
                    <img src="~/img/cherry.png" id="cherry" alt="cherry"/>
                </div>
            </div>
        </div>
    </header>
    <!-- /header -->
    <!-- Tarjetas -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-3">
                <center>
                    <div class="card text-black mb-3" style="max-width: 18rem;" id="card1">
                        <div class="card-body">
                            <i class="fas fa-heartbeat fa-4x" id="icon"></i><br><br>
                            <h5 class="card-title">Tu salud es primero</h5>
                            <p class="card-text">Nosotros tenemos los mejores aparatos para identificar el estado de tu salud y así ayudarte a ver en un chequeo que deberias hacer.</p>
                        </div>
                        <div id="line">
                        </div>
                    </div>
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    <div class="card text-black mb-3" style="max-width: 18rem;" id="card1">
                        <div class="card-body">
                            <i class="fas fa-calendar-check fa-4x" id="icon"></i><br><br>
                            <h5 class="card-title">Agenda tu Cita</h5>
                            <p class="card-text">Registrate y accede a nuestra aplicación web en donde podras agendar tu cita desde la comodidad de tu casa.</p>
                        </div>
                        <div id="line">
                        </div>
                    </div>
                </center>
            </div>
            <div class="col-md-3">
                <center>
                    <div class="card text-black mb-3" style="max-width: 18rem;" id="card1">
                        <div class="card-body">
                            <i class="fas fa-apple-alt fa-4x" id="icon"></i><br><br>
                            <h5 class="card-title">Dietas a tu medida</h5>
                            <p class="card-text">Conoce las mejores dietas y las que debes de seguir segun tu tipo de cuerpo y tu estado de salud para que tengas el cuerpo que sueñas y saludable.</p>
                        </div>
                        <div id="line">
                        </div>
                    </div>
                </center>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
    <!-- /Tarjetas -->
    <!--Correo-->
    <div id="cajacorreo">
        <div class="row">
            <div class="input-group mb-3 col-md-3">
                <h1>Ofertas</h1>
            </div>
            <div class="input-group mb-3 col-md-9">
                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet rutrum leo. Sed aliquam arcu vitae nunc aliquam tincidunt. Aliquam mollis ut magna vel interdum. Sed vitae lacinia mi, nec interdum sem. Integer id pellentesque urna. Curabitur in finibus turpis. Nunc gravida nunc at mattis placerat.</h6>
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3 col-md-5">
                <input type="text" class="form-control" placeholder="Nombre Completo..." aria-label="Recipient's username" aria-describedby="basic-addon2" id="inputext">
            </div>
            <div class="input-group mb-3 col-md-5">
                <input type="text" class="form-control" placeholder="Tu email..." aria-label="Recipient's username" aria-describedby="basic-addon2" id="inputext">
            </div>
            <div class="col-md-2" id="enviar">
                <i class="far fa-paper-plane fa-2x" id="env"></i>
            </div>
        </div>
    </div>
    <footer id="footer" class="container-fluid">
        <div class="row">
            <div class="col-md-4" id="p">
                <center><i class="fas fa-phone fa-2x" id="iconfoot"></i> Llamanos <br>(123) 000 345 555</center>
            </div>
            <div class="col-md-4" id="p">
                <center><i class="fas fa-envelope fa-2x" id="iconfoot"></i> Contactanos <br> whd@nyankul.com</center>
            </div>
            <div class="col-md-4" id="p">
                <center><i class="fas fa-map-marked-alt fa-2x" id="iconfoot"></i> Visitanos <br> 47270 Jal. Mexico</center>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4" id="more">
                <center>
                    <p id="p"><h5>Navegacion</h5> <br><br><br> Home <br><br> Blog <br><br> Testimonios</p>
                </center>
            </div>
            <div class="col-md-4" id="more">
                <center>
                    <p id="p"><h5>Aprender</h5> <br><br><br> FAQ <br><br> Politica de privacidad <br><br> Terminos y condiciones</p>
                </center>
            </div>
            <div class="col-md-4" id="more">
                <center>
                    <p id="p"><h5>Redes Sociales</h5> <br><br><br> Linkedin <br><br> Instagram <br><br> Twitter <br><br> Facebook</p>
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 text-center" id="more">
                &copy; 2019 www.whitehatprogrammers.com. Todos los derechos reservados.
            </div>
            <div class="col-md-3 text-center" id="more">
                Español
            </div>
        </div>
    </footer>
</body>
</html>