﻿@model Nutriologo.Models.Cita

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Modificar Cita</h1>
<hr />
<div class="container-fluid">
    <form asp-action="Modificar" asp-controller="Citas" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-xl-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group ">
                    <label asp-for="Fecha" class="control-label"></label>
                    <input asp-for="Fecha" class="form-control"  type="date" />
                    <span  asp-validation-for="Fecha" class="text-danger"></span>
                </div>
            </div>
            <div class="col-xl-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label asp-for="Hora" class="control-label"></label>
                    <select asp-for="Hora" class="form-control">
                        <option value="" selected>Seleccionar</option>
                        @{
                            DateTime dt = new DateTime(1, 1, 1, 8, 0, 0);
                            for (var i = 0; i <= 10; i++)
                            {
                                if (dt.AddMinutes(30 * i).ToShortTimeString() == @Model.Hora.ToShortTimeString())
                                {
                                    <option value="@dt.AddMinutes(30*i).ToShortTimeString()" selected>@dt.AddMinutes(30 * i).ToShortTimeString()</option>

                                }
                                else
                                {
                                    <option value="@dt.AddMinutes(30*i).ToShortTimeString()">@dt.AddMinutes(30 * i).ToShortTimeString()</option>
                                }
                            }
                        }
                    </select>
                    <span asp-validation-for="Hora" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="form-group col-xl-4 col-sm-12 col-md-4 col-lg-4">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group col-xl-4 col-sm-12 col-md-4 col-lg-4">
                <label asp-for="ApellidoMaterno" class="control-label"></label>
                <input asp-for="ApellidoMaterno" class="form-control" />
                <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-12 col-md-4 col-lg-4">
                <label asp-for="ApellidoPaterno" class="control-label"></label>
                <input asp-for="ApellidoPaterno" class="form-control" />
                <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xl-6 col-sm-6 col-md-6 col-lg-6">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-xl-6 col-sm-6 col-md-6 col-lg-6">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12 text-right">
                <input type="submit" value="Modificar Cita" class="btn btn-primary" id="RegistrarCita" />
            </div>
        </div>

    </form>
</div>

<script src="~/js/Citas/Modificar.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}