﻿@model List<Cita>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" id="TituloActual">
            <h1>Mis Citas Futuras</h1>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" id="TituloAnterior">
            <h1>Mis Citas Anteriores</h1>
        </div>
    </div>
    @if (User.IsInRole("Usuario"))
    {
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" id="CitasActualesSeccion">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Count == 0)
                            {
                                <tr>
                                    <td>
                                        <h2>Actualmente no tienes citas pendientes</h2>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                    if (item.Fecha.Date > DateTime.Now.Date || (item.Fecha.Date == DateTime.Now.Date && item.Hora.TimeOfDay >= DateTime.Now.TimeOfDay))
                                    {
                                        <tr>
                                            <td>@item.Fecha.ToShortDateString()</td>
                                            <td>@item.Hora.ToShortTimeString()</td>
                                            <td>Para cualquier modificación o cancelación favor de comunicarse con el Nutriologo</td>
                                        </tr>

                                    }
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" id="CitasAnterioresSeccion">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Count == 0)
                            {
                                <tr>
                                    <td>
                                        <h2>Actualmente no tienes citas anteriores</h2>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                    if (item.Fecha.Date <= DateTime.Now.Date && item.Hora.TimeOfDay < DateTime.Now.TimeOfDay)
                                    {
                                        <tr>
                                            <td>@item.Fecha.ToShortDateString()</td>
                                            <td>@item.Hora.ToShortTimeString()</td>
                                        </tr>

                                    }
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12 text-right">
                <button id="CitasAnteriores" class="btn btn-primary">Mostrar citas anteriores</button>
                <button id="CitasActuales" class="btn btn-primary">Ocultar citas anteriores</button>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Nombre</th>
                            <th>Modificar</th>
                            <th>Consultar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Fecha.ToShortDateString()</td>
                                <td>@item.Hora.ToShortTimeString()</td>
                                <td>@item.Nombre @item.ApellidoPaterno @item.ApellidoMaterno @item.Email</td>
                                <td ><a asp-action="Modificar" asp-controller="Citas" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a></td>
                                <td>@Html.ActionLink("", "Registrar", "Consulta", new { correo = item.Email, hora = item.Hora }, new { @class = "btn btn-primary fas fa-briefcase-medical" })</td>
                                <td><a asp-action="Delete" asp-controller="Citas" asp-route-id="@item.Id" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

</div>
<script src="~/js/Citas/Ver.js"></script>