﻿@model List<Consulta>
@{
    Layout = "_Layout";
}
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Mi Nutrición</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Peso</th>
                        <th>Talla</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.Count == 0)
                        {
                            <tr>
                                <td colspan="4" class="text-center"><h1>No existen registros del usuario</h1></td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                       @item.Fecha.ToShortDateString()
                                    </td>
                                    <td>
                                        @item.Peso
                                    </td>
                                    <td>
                                        @item.Talla
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>