﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Bienvenido al sistema por favor selecciona una opción</h1>
        </div>
    </div>
</div>