

header{
	background-color:  #60DC89;
}

#card1{
	border-radius: 10px;
	height: 350px;
	width: 100%;
	box-shadow: 5px 5px 40px 5px rgba(0,0,0,0.25);
	margin-top: 50px;
}

#footer{
	height: 700px;
	margin-top: 130px;
	background-color: #30476A;
}

h1,h6{
	color: white;
	padding: 20px;
	font-family: 'Oswald', sans-serif;
}

#enviar{
	padding: 30px;
	color: #3FEF6F;
	margin-top: -30px;
}

#env{
	background-color: white;
	border-radius: 50%;
	padding: 10px;
	box-shadow: 5px 5px 40px 5px rgba(0,0,0,0.25);
}

#inputext{
	margin: 10px;
}

#cajacorreo{
	margin-top: 30px;
	position: absolute;
	background-color: #60DC89;
	box-shadow: 5px 5px 40px 5px rgba(0,0,0,0.25);
	height: 200px;
	width: 85%;
	margin-left: 7.5%;
	margin-right: 7.5%;
	border-radius: 10px;
}

h5{
	color: #60DC89;
	font-family: 'Oswald', sans-serif;
}

#icon{
	color: #59CB7F;
	border-style: solid;
	border-color: #59CB7F;
	border-radius: 30%;
	padding: 20px;
}

#line{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 10px;
	width: 100%;
	background-color: #59CB7F;
}

#logo{
	height: 80px;
	width: 100px;
}

#menu{
	background-color: transparent;
	height: 80px;
	width: 100%;
}

#logopng{
	margin-top: 10px;
	margin-left: 50px;
}

#menul{
	text-decoration: none;
	color: white;
	margin-top: 20px;
	font-family: 'Source Code Pro', monospace;
	font-size: 21px;
}

#iconfoot{
	margin-top: 130px;
	color: white;
	background-color: #4B72A0;
	border-radius: 50%;
	padding:10px;
	margin-bottom: 20px;
}

hr{
	background-color: #4B72A0;
}

#p{
	color: white;
	text-align : justify;
}

#btnm{
	margin-top: 20px;
	margin-bottom: 20px;
	border-style: none;
	background-color: #359A1F;
	width: 100%;
	height: 50px;
	font-family: 'Source Code Pro', monospace;
	color: white;
	cursor: pointer;
	border-radius: 20px;
}

#cherry{
	margin-left: 70px;
	margin-top: -20px;
}

#title{
	margin-top: 120px;
	font-family: 'Source Code Pro', monospace;
	color: white;
}

#more{
	margin-top: 50px;
	color: #95B5F5;
}

#title2{
	font-size: 60px;
}