﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nutriologo</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Nutriologo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @if (User.IsInRole("Admin") || User.IsInRole("Usuario"))
    {
        <div class="container-fluid">
            <partial name="_CookieConsentPartial" />
            <div class="row">
                <div class="col-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="nav-link" id="_Citas_Ver" asp-action="Ver" asp-controller="Citas" aria-controls="v-pills-messages" aria-selected="false">Ver Citas</a>
                            <a class="nav-link" id="_Account_VerUsuarios" asp-action="VerUsuarios" asp-controller="Account" aria-controls="v-pills-profile" aria-selected="false">Ver usuarios</a>


                        }
                        else
                        {
                            <a class="nav-link active" id="_Dashboard_Consultar" asp-action="Consultar" asp-controller="Dashboard" aria-selected="true">Mi Nutrición</a>
                            <a class="nav-link" id="_Citas_Registrar" asp-action="Registrar" asp-controller="Citas" aria-controls="v-pills-profile" aria-selected="false">Agendar Cita</a>
                            <a class="nav-link" id="_Citas_Ver" asp-action="Ver" asp-controller="Citas" aria-controls="v-pills-messages" aria-selected="false">Mis citas</a>
                            <a class="nav-link" id="_Citas_Facturar" asp-action="Index" asp-controller="Consulta" aria-controls="v-pills-messages" aria-selected="false">Citas Por Facturar</a>

                        }
                        <a class="nav-link" id="_Account_CompletarRegistro" asp-action="CompletarRegistro" asp-controller="Account" aria-controls="v-pills-settings" aria-selected="false">Modificar Datos Privados</a>
                    </div>
                </div>
                <div class="col-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            @RenderBody()
        </div>
        
    }


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Nutriologo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Layout.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
